<div class="bg-darkBBlue text-shiningGreen flex items-center justify-around py-8">
    <a routerLink="dashboard" class="font-semibold text-2xl">PricePoint <span class="text-light ">Manager</span></a>
    <div class="flex gap-3">
        <button class="bg-shiningGreen hover:bg-green-200 shadow-sm shadow-shiningGreen rounded text-darkBBlue font-bold py-1 px-3">Authenticate</button>
        <button 
        routerLink="dashboard/add-product"
        class="border-2 border-light rounded-md text-light px-3 py-1">Add Product</button>
    </div>
</div>