<header class="container">
   
   <div class="navlinks">
    <button popovertarget="menu">  
        <i class="fa fa-bars text-primary"></i>    
    </button>
    <nav popover id="menu">
        <button popovertarget="menu" popovertargetaction="hide"> 
            <i class="fa fa-times text-white float-right"></i>
        </button>
        <ul class="mobileul">
            <li class="mobileli"><a href="#">Shop</a></li>
            <li class="categories mobileli">
                <p>Categories</p>
                <a href="#">Audio</a>
                <a href="#">Computing</a>
                <a href="#">Phones & Tablets</a>
            </li>
            <li class="mobileli">
                <a href="#">
                    <i class="fa fa-shopping-basket text-brightorange"></i>
                </a>
            </li>
            <li class="mobileli"><button class="login">
                Login
            </button></li>
        </ul>
    </nav>
   </div>
</header>


<div class="bigscreen">
    <ul class="flex uppercase font-[500] items-center justify-center text-primary flex-row gap-[15px]">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Audio</a></li>
        <li><a href="#">Computing</a></li>
        <li><a href="#">Phones&Tablets</a></li>
        <li><i class="fa fa-shopping-basket bg-secondary p-[5px] rounded-full text-light"></i></li>
        <li><button class="login">login</button></li>
    </ul>
</div>
